html {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    width:100%;
  left: 0%;
  right: 0%;
 }

 body {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    margin: 0;
  padding: 0;
  width: 100%;
  left: 0%;
  right: 0%;
 }
 
 section{
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0;
    right: 0;
 }
 
 h1 {
    font-weight: bold;
 }

 a {
    cursor: pointer;
    color: #1abc9c;
    text-decoration: none;
 }

 a:hover {
    text-decoration:none;
    color: #1abc9c;
    opacity: 0.9;
 }

 hr {
    border-top: 5px solid #1abc9c;
    width: 80px;
    padding-bottom: 20px;
 }

 .dotcolour{
    color: #1abc9c;
 }
 

 .section-primary span {
    color: #1abc9c;
    font-weight: bolder;
    opacity: 1;
 }

 .section-intro {
 	background-color: indigo;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    color: #fff;
    display:table;
 }

 .section-primary{
    width: 100%;
    position: relative;
 }

 .intro {
    vertical-align: middle;
    text-align: center;
    display:table-cell;
    -webkit-transform: translateY(-2.1rem);
    -ms-transform: translateY(-2.1rem);
    transform: translateY(-2.1rem);
    margin-right: 0;
    margin-left:0;
}

.intro h1 {
    font-size: 70px;
    padding-top: 15px;
}


@media screen and (max-width: 650px){
    .intro h5{
        font-size: 9px;
    }

    .intro h1{
        font-size: 55px;
    }
}

.social {
  margin: 0 10px;
  padding-top: 1.3em;
  text-align: center;
  color: #fff;
  font-size: 0.9em;
}

.social a {
  color: white;
  text-decoration:none;
  padding: 2em;
}

@media screen and (max-width: 767px){
    .social{
        size: 40px;
    }
}

.social a:hover{
    opacity: 0.8;
}

section {
    padding-top: 32px;
    padding-bottom: 32px;
}

.section-primary p {
    text-align: justify;
}


.section-heading .lead, .section-heading h2 {
    text-align: center;
}

#skills {
    background-color: darkslategray;
    height: auto;
}

#skills .skill-column:hover{
    transform: scale(0.8);
    cursor: pointer;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: shake 0.2s, glow 10s;

  /* When the animation is finished, start again */
  animation-iteration-count: 1;
  
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  .buttonglow {
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    animation: glowing 1300ms infinite;
  }

  @keyframes glowing {
    0% {
      background-color: darkviolet;
      box-shadow: 0 0 3px blueviolet
    }
    50% {
      background-color:darkviolet;
      box-shadow: 0 0 10px darkviolet;
    }
    100% {
      background-color: darkviolet;
      box-shadow: 0 0 3px darkviolet;
    }
  }

#projects{
    background-color: darkslateblue;
    height: auto;
}

.column{
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .container {
    padding: 0 16px;
  }

  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .button {
    border: white 0.5px solid;
    outline: 0;
    display: inline-block;
    padding: 8px;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: lightgrey;
      border: black 0.5px solid;
      color: black;
      font-weight: bolder;
  }

  .buttonhalf {
    width: 100%; 
    border: white 0.5px solid;
    display: inline-block;
    outline: 0;
    padding: 8px;
    background-color: #000;
    text-align: center;
    cursor: pointer;
  }

  .buttonhalf:hover{
      background-color: lightgrey;
      border: black 0.5px solid;
      color: black;
      font-weight: bolder;
  }

  #leftbutton
  {
      float: left;
      width: 50%;
  }

  #rightbutton{
      float: right;
      width: 50%;
  }

  @media (max-width: 1000px) {
  #linear{
    clear: both;
}

}
  .flip-card {
    background-color: transparent;
    width: 100%;
    height: 200px;
    text-align: center;
    border: white 5% solid;
    perspective: 1000px; 
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    border: indigo solid 2px;
    border-radius: 2%;
    
  }
  
  .flip-card-front {
    background-color: skyblue;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .flip-card-front h2{
    color: black;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-family: monospace;
  }

  .flip-card-front h5{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      background-color: floralwhite;
      width: fit-content;
      color: slategrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
  }

  .flip-card-back {
    background-color: #555;
    color: white;
    text-align: left;
    transform: rotateY(180deg);
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .timeline {
    border-left: 3px solid #727cf5;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: transparent;
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 120%;
}

@media (max-width: 1000px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h2,
.timeline h3 {
    margin-bottom: 10px;
}

.timeline .event, .timeline .inevent {
    border-bottom: 1px dashed blue;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 1000px) {
    .timeline .event, .timeline .inevent {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type , .timeline .inevent:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before, .timeline .inevent:before,
.timeline .event:after , .timeline .inevent:after{
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

.timeline .inevent:before {
    content: attr(data-date);
    text-align: left;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 1000px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after , .timeline .inevent:after{
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 1000px) {
    .timeline .event:after , .timeline .inevent:after{
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before , .rtl .timeline .inevent::before{
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after , .rtl .timeline .inevent::before{
    left: 0;
    right: -55.8px;
}

footer {
    display: block;
    position: static;
    bottom: 0;
    background-color: darkslategray;
    color: #fff;
    padding: 50px 0;
}

.mouse-icon {
            border: 2px solid #fff;
            border-radius: 16px;
            display: block;
            height: 50px;
            margin: 100px auto;
            position: absolute;
            left: 0;
            right: 0;
            width: 30px;
            z-index: 10;
        }
.mouse-icon .scroll {
            animation-delay: 0s;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-name: scrolling;
            animation-play-state: running;
            animation-timing-function: linear;
        }
 .mouse-icon .scroll {
            background: #fff none repeat scroll 0 0;
            border-radius: 10px;
            height: 10px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: 4px;
            width: 4px;
        }
        @keyframes scrolling {
        0% {
            opacity: 0;
            top: 5px;
        }
        30% {
            opacity: 1;
            top: 10px;
        }
        100% {
            opacity: 0;
            top: 25px;
        }
        }

        .pad-xl {
            padding: 200px 0px;
        }

        .pad-lg {
            padding: 160px 0px;
        }

        .pad-sm {
            padding: 80px 0px;
        }

        .pad-xs {
            padding: 30px 0px;
        }

        .icon
        {
            position: absolute;
            top: 70%; 
            left: 70%;
            transform: translateX(-50%) translateY(-50%);
        }

        #mySidenav a {
            position: absolute; 
            right: -100px; 
            transition: 0.3s;
            padding: 15px;
            width: 120px; 
            font-size: 14px;
            text-decoration: none; 
            color: white; 
            border-radius: 0 5px 5px 15px; 
          }

          @media (max-width: 780px) 
          {
              #mySidenav a
              {
                  display: none;
                }
            }
          
          #mySidenav a:hover {
            right: 0; 
          }
          
          #about #about1, #skills #skills1,  #education  #education1, #experience #experience1, #projects #projects1
          {
              right: -10px;
          }

          #about1 {  
            top:0px;
            background-color: #04AA6D;
          }
          
          #skills1 {
            top: 54px;
            background-color: #2196F3; 
          }
          
          #education1 {
            top: 108px;
            background-color: darkorange;
          }

          #experience1 {
            top: 162px;
            background-color: #555 
          }

          #projects1 {
            top: 216px;
            background-color: crimson; 
          }

          .overlay {
            height: 100%;
            width: 100%;
            display: none;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0, 0.9);
          }
          
          .overlay-content {
            position: relative;
            top: 5%;
            width: 100%;
            text-align: center;
            margin-top: 10px;
          }
          
          .overlay a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            display: block;
            transition: 0.3s;
          }
          
          .overlay a:hover, .overlay a:focus {
            color: #f1f1f1;
          }
          
          .overlay .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
          }
          
          @media screen and (max-height: 450px) {
            .overlay a {font-size: 20px}
            .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
            }
          }

          .background {
            position: fixed;
            display: flex;
            min-height: 100vh;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          
          .container {
            flex: 0 1 700px;
            margin: auto;
            padding: 10px;
          }
          
          .screen {
            position: relative;
            background: #3e3e3e;
            border-radius: 15px;
            border: snow 2px solid;
          }
          
          .screen:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 20px;
            right: 20px;
            bottom: 0;
            border-radius: 15px;
            box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
            z-index: -1;
          }
          
          .screen-header {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            border-bottom: snow 2px solid;
            background-color: #b9134f;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
          }
          
          .screen-header-left {
            margin-right: auto;
          }
          
          .screen-header-button {
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-right: 3px;
            border-radius: 8px;
            background: white;
          }
          
          .screen-header-button.maximize {
            background: #e8e925;
          }
          
          .screen-header-button.minimize {
            background: #74c54f;
          }
          
          .screen-header-right {
            display: flex;
          }
          
          .screen-header-ellipsis {
            width: 3px;
            height: 3px;
            margin-left: 2px;
            border-radius: 8px;
            background: #999;
          }
          
          .screen-body {
            display: flex;
          }
          
          .screen-body-item {
            flex: 1;
            padding: 50px;
          }
          
          .screen-body-item.left {
            display: flex;
            flex-direction: column;
          }
          
          .app-title {
            display: flex;
            flex-direction: column;
            position: relative;
            color: deeppink;
            font-size: 30px;
            text-align: left;
          }
          
          .app-title:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 25px;
            height: 4px;
            background: #ea1d6f;
          }
          
          .app-contact {
            margin-top: auto;
            font-size: 10px;
            color: #888;
          }
          
          .app-form-group {
            margin-bottom: 15px;
          }
          
          .app-form-group.message {
            margin-top: 40px;
          }
          
          .app-form-group.buttons {
            margin-bottom: 0;
            text-align: right;
          }
          
          .app-form-control {
            width: 100%;
            padding: 10px 0;
            background: none;
            border: none;
            border-bottom: 1px solid #666;
            color: #ddd;
            font-size: 14px;
            outline: none;
            transition: border-color .2s;
          }

          .app-form-control::placeholder {
            color: #666;
          }
          
          .app-form-control:focus {
            border-bottom-color: #ddd;
          }
          
          .app-form-button {
            background: none;
            border: none;
            color: #ea1d6f;
            font-size: 14px;
            cursor: pointer;
            outline: none;
          }
          
          .app-form-button:hover {
            color: #b9134f;
          }


         
